// =============================================================================
// =ALEKSI - TESTS
// =============================================================================

@import "../stylesheets/lilo";
@import "aleksi/maps/debug-map";

@mixin color-scheme( $text, $background ) {
  color: $text;
  background-color: $background;
}

@mixin -color-scheme( $text, $background ) {
  @include lilo('color-scheme', $text, $background) {
    @include color-scheme($text, $background);
  }
}

.foo {
  @include -color-scheme(white, black);
  font-style: italic;
}

.bar {
  @include -color-scheme(white, black);
}

.baz {
  @include -color-scheme(red, black);
}

@include debug-map($__lilo-register__);