// =============================================================================
// =LILO - CLEAR
// =============================================================================
////
//// @group lilo-register
//// @author [Yoannis Jamar](http://yoannis.me)

$__lilo-register__: () !default;

// =FUNCTIONS
// =============================================================================

// =lilo-clear()
// -----------------------------------------------------------------------------
/// Clears Lilo's register. Running this will make styles that were in the
/// register unavailable for further sharing. Useful if at some point in you
/// want to create a new set of shared styles that doesn't interfere with
/// previously shared styles.
///
/// @return {bool} - Always return true
///
/// @access public
/// @since 0.1.0
///
/// @todo Unit-test lilo-clear() function

@function lilo-clear()
{
  $__lilo-register__: () !global;
  @return true;
}

// =MIXINS
// =============================================================================

// =lilo-clear()
// -----------------------------------------------------------------------------
/// Clears Lilo's register. Delegates to the `lilo-clear()` function.
///
/// @see lilo-clear
///
/// @access public
/// @since 0.1.0

@mixin lilo-clear()
{
  $cleared: lilo-clear();
}