// =============================================================================
// =LILO - SETTINGS
// =============================================================================
////
//// @group lilo-settings
//// @author [Yoannis Jamar](http://yoannis.me)

$lilo-strict-mode: false !default;

$lilo-report-method: 'warn' !default;

$lilo-default-quota: 10 !default;