// =============================================================================
// =LILO - USE
// =============================================================================
//// Extend styles that were added before.
////
//// @group lilo-share
//// @author [Yoannis Jamar](http://yoannis.me)

@import "sassy-maps";
@import "aleksi/general/default-to";

@import "lilo/settings";
@import "lilo/register/fetch";
@import "lilo/quota";
@import "lilo/report";

// =MIXINS
// =============================================================================

// =lilo-use( $identifier, $args... )
// -----------------------------------------------------------------------------
/// Extends styles that were made available for sharing by calling the
/// `lilo-add()` mixin.
///
/// @param {string} $identifier - A unique identifier for the shared styles.
/// @param {arglist} $args... [()] - Settings for dynamic styles.
///
/// @throw Warning when trying to use styles that were not added before.
///
/// @access public
/// @since 0.1.0

@mixin lilo-use( $identifier, $args... )
{
  $token: _lilo-fetch($identifier, $args...);

  @if not $token {
    @include lilo-report-unfound($identifier, &);
  }

  @else
  {
    // update the given identifier's usage count
    $count: lilo-quota-count($identifier, 1);
    $limit: lilo-quota-limit($identifier);

    // check identifier's quota and report when exceeding maximum usage limit
    @if $count > $limit {
      @include lilo-report-overuse($identifier, &);
    }

    // use !optional flag in case the previously added module has
    // no content (sass throws an error when extending empty placeholders).
    @extend %#{$identifier}-#{$token} !optional;
  }
}