// =============================================================================
// =LILO TESTS - USE
// =============================================================================

@import "lilo/add";
@import "lilo/use";
@import "lilo/quota";

@include test-module('The lilo-use mixin')
{
  $id-a: 'test-#{unique-id()}';
  $id-b: 'test-#{unique-id()}';
  $id-c: 'test-#{unique-id()}';
  $args-a: ("foo", false, 100);

  @include test('should extend styles created with add() before')
  {
    @include assert('(without arguments)')
    {
      @include output
      {
        @include lilo-add($id-a) {
          content: 'CSS associated with #{$id-a}';
        }

        @include lilo-use($id-a);
      }

      @include expect
      {
        content: 'CSS associated with #{$id-a}';
      }
    }

    @include assert('(with arguments)')
    {
      @include output
      {
        @include lilo-add($id-a, $args-a) {
          content: 'CSS associated with #{$id-a}';
          first-arg: nth($args-a, 1);
        }

        @include lilo-use($id-a, $args-a);
      }

      @include expect
      {
        content: 'CSS associated with #{$id-a}';
        first-arg: nth($args-a, 1);
      }
    }
  }

  @include test('should not extend and throw a warning if styles were not created before')
  {
    @include assert('(without arguments)')
    {
      @include output {
        @include lilo-use($id-b);
      }

      @include expect {}
    }

    @include assert('(with arguments)')
    {
      @include output {
        @include lilo-use($id-b, $args-a);
      }

      @include expect {}
    }
  }

  @include test('should update the given identifier\'s usage count')
  {
    // prepare test
    @include lilo-add($id-a);

    // inspect before
    $id-a-count-before: lilo-quota-count($id-a);

    // perform test
    @include lilo-use($id-a);
    @include lilo-use($id-a);

    // inspect after
    $id-a-count-after: lilo-quota-count($id-a);

    @include assert-equal($id-a-count-before, $id-a-count-after - 2);
  }

  @include test('should throw a warning if exceeding the identifier\'s usage limit')
  {
    // prepare test
    $lilo-report-method-before: $lilo-report-method;
    $lilo-report-method: 'warn';
    @include lilo-quota-limit($id-c, 2);
    @include lilo-add($id-c);

    // perform test
    @include output
    {
      @include lilo-use($id-c);
      @include lilo-use($id-c);
      @include lilo-use($id-c);
      @include lilo-use($id-c);
    }

    // cleanup test
    $lilo-report-method: $lilo-report-method-before;
  }
}